

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cccccc18;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    color: #642222;
    margin: auto;
}

button {
    font-family: 'Inter', sans-serif;
    background-color: #0af;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

button:hover {
    background-color: #008aed;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
padding-top: 10px;
}
/* Карточки товаров */
.product-card {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.45rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.product-card img {
    margin: auto;
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    object-fit: cover;
}

.product-card h2 {
    font-weight: bold;
    margin-top: 0;
}

.product-card p {
    font-size: 1rem;
    color: #666;
    text-decoration: underline;;
}

input[type="text"] {
    font-size: inherit;
    border: none;
    margin-right: 10px;
    border-radius: 0.5rem;
    width: 82px;
    height: 20px;
    padding: 9px 10px 9px 10px;
    font-size: 15px;
    align-self: center;
}

/* Адаптивный дизайн для мобильных устройств. было 768 */

@media (max-width: 800px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    header {
        flex-direction: column;
        align-items: top;
    }

    h1 {
        margin: 0.5rem 0;
    }

    button {
        width: 100%;
        padding: 1rem;
        font-size: 20px;
    }
    input[type='text'] {
        font-size: inherit;
        border: none;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 0.5rem;
        width: 200px;
        height: 20px;
        padding: 9px 10px 9px 10px;
        font-size: 15px;
        align-self: center;
        text-align: center;

    }
}

/* Адаптивный дизайн для очень маленьких экранов */

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    header {
        align-items: center;
    }

    button {
        padding: 0.5rem;
    }
}
